@import "libs/reset.scss";
@import "mixin.scss";
@font-face{ 
    font-family: 'Roboto';
    src: url(Roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: 'Shrikhand';
    src: url(Shrikhand-Regular.otf);
}

body{
    background: white;
    font-family: Roboto, sans-serif;
    
}
    
$grey: #ebebeb;
$grey_light: #F2F2F2;
$white: #FFF;
$pink: #F153CC;
.header{
    @include align_bloc;
    padding: 1rem

}
.localisation{
    @include align_bloc;
    @include align_logo;
    @include bloc;
    
    .localisation_txt{

        font-size: 1.2rem;
        font-weight: bold;
    }
}
p{
    margin: 0.8rem;
}

// HAUT DE PAGE
.exploration{
    @include align_bloc;
    flex-direction: column;
    @include bloc2;
    padding: 2rem;
    h2{ font-weight: bolder;
        font-size: 2rem;

    }
    
}
.button{
    width: fit-content;
    padding: 0.5%;
    background-color: $pink;
    border-radius: 2rem;
    p{
        color: $white;
        font-weight: bold;
    }
}


// FONCTIONNEMENT
.fonctionnement, .restaurant_bloc, .restaurant{
    @include align_bloc;
    flex-direction: column;
}

.fonction_title, .resto_title{
    @include bold;
        margin: 1rem;
        font-size: 2rem;
}
.fct_card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    @media (max-width: 980px){
        @include column;
        padding: 1.5rem;
    }
    
}

.fonction_choice{

    background: $grey_light;
    @include align_logo;
    border-radius: 2rem;
    padding: 1rem 2rem;
    width: 30%;
    .fct_logo{
       color:  #7e7e7e;
    }
    @media (max-width: 980px){
        width: 100%;
        margin-bottom: 1rem;
    }
}

// RESTAURANT
.restaurant_bloc{
    @include bloc2;
    display: flex;
    padding: 1rem;
}
.carte_bloc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.carte{
    
    background: #F6F6F6;
    position: relative;
    border-radius: 1rem;
    width: 45%;
    margin: 1rem;
    @media (max-width: 980px){
        width: 100%;
        margin-block-end: 1rem;
    }
    
}
    
.carte_img{
    height: 12rem;
    object-fit: cover;   
    border-radius: 1rem 1rem 0 0 ;
    width: 100%;
}
.resto_caption{
    
    
    h3{
        font-weight: bold;
        font-size: 1.2rem;
    }
    p{
        margin: 0 0 .25rem;
        font-size: 1.2rem;
    }
}

// FOOTER
.footer{
    background-color: #353535;
    font-family: Roboto, sans-serif;
    color: $white;
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 2.5rem;

}
.footer_head{
    font-family: Shrikhand, sans-serif;
    
}
i{
    padding-right: 0.5rem;
}

// SMARTPHONE

