@import "libs/reset.scss";
@import "mixin.scss";
@font-face{ 
    font-family: 'Roboto';
    src: url(Roboto/Roboto-Regular.ttf);    
}
@font-face{
    font-family: 'Shrikhand';
    src: url(Shrikhand-Regular.otf);
    
}
@keyframes load_page {
        0%{ background-color: blue;}
        100% {display: none;}
}

.header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    }
body{
    background: white;
    font-family: Roboto, sans-serif;
    
}
    
$grey: #ebebeb;
$grey_light: #F2F2F2;
$white: #FFF;
$pink: #F153CC;
.header{
    @include align_bloc;
    padding: 1rem;
    position: relative;
    

}
.localisation{
    @include align_bloc;
    @include align_logo;
    @include bloc;
    box-shadow: 0 0 1rem rgb(0 0 0 / 25%);
    .localisation_txt{

        font-size: 1.2rem;
        font-weight: bold;
    }
}
p{
    margin: 0.8rem;
}

a{
    color: black;
    text-decoration: none;
}
//////////////////////////////////////////////////////////////////////////Chargement Page
@keyframes load_page{
    0%{opacity: 1;}
    100%{opacity: 0; 
        position: absolute;} //Le positon absolute permet au bloc de passer en arrière plan et active la page

}
.anime_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    animation: load_page ease 4s;
    animation-delay: 1.75s;
    animation-fill-mode: both; //Permet à l'animation de finir sur l'état finale sans se répéter
   
    p{
        font-family: Shrikhand, sans-serif;
    }
}

.anime_logo0{
    width: 100%;
    font-size: 3rem;
}

.anime_element{
    @include column;
    
}
.lateral_step{
    height: 5rem;
    @include column;
    justify-content: space-around;
}
@keyframes lateral-step{
    0%{ transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    25%{transform: translateX(-1.5rem) scale(0.5);
        -ms-transform: translateX(-1.5rem) scale(0.5);
        -webkit-transform: translateX(-1.5rem) scale(0.5);    
    }
    75%{transform: translateX(1.5rem) scale(1.5);
        -ms-transform: translateX(1.5rem) scale(1.5);
        -webkit-transform: translateX(1.5rem) scale(1.5)
    }
    100%{transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0)
    }
}
.anime_logo{
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    animation: lateral-step 1s linear infinite;
    -moz-animation: lateral-step 1s linear infinite;
    -webkit-animation:lateral-step 1s linear infinite;
    animation-iteration-count: 1s;
}
.step1{
    background-color: #9356DC;
}
.step2{
    background-color: #FF79DA;
    animation-delay: .33s;
}
.step3{
    background-color: #99E2D0;
    animation-delay: .66s
}
////////////////////////////////////////////////////////////////////////// HAUT DE PAGE
.exploration{
    @include align_bloc;
    flex-direction: column;
    @include bloc2;
    padding: 2rem;
    h2{ font-weight: bolder;
        font-size: 2rem;
        text-align: center;
    }
    
}
.button, .button2{
    width: fit-content;
    padding: 0.5%;
    background-color: $pink;
    border-radius: 2rem;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    p{
        color: $white;
        font-weight: bold;
    }
}


//////////////////////////////////////////////////////////////////////////////// FONCTIONNEMENT
.fonctionnement, .restaurant_bloc, .restaurant{
    @include align_bloc;
    flex-direction: column;
    position: relative;
}
.fonctionnement{
    @media (max-width: 980px) {
        padding: 1rem;
    }
}
.fonction_title, .resto_title{
    @include bold;
        font-size: 2rem;
        margin: 1rem;
    @media (max-width: 980px){
        margin: 0;
        align-self: flex-start;
    }
}
.fct_card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    counter-reset: number; //Permet d'initialiser la fct compatge
    @media (max-width: 980px){
        @include column;
        margin: 1rem;
        padding: 1rem;
    }
    
}

.fonction_choice{

    background: $grey_light;
    @include align_logo;
    position: relative;
    border-radius: 2rem;
    padding: 1rem 2rem;
    width: 30%;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 15%);
    .fct_logo{
       color:  #7e7e7e;
    }
    @media (max-width: 980px){
        width: 100%;
        margin-bottom: 1rem;
    }
}
.fonction_choice::before{
    content: counter(number) " ";
    counter-increment: number 1;  //Permettant de comptet avec un pas de 1
    background: #9356dc;
    border-radius: 100px;
    height: 1.5rem;
    width: 1.5rem;
    @include align_bloc;
    color: white;
    position: absolute;
    left: -.5rem;
}

///////////////////////////////////////////////////////////////////////// RESTAURANT
.restaurant_bloc{
    @include bloc2;
    display: flex;
    padding: 1rem;
}
.carte_bloc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.carte{
    
    background: #F6F6F6;
    position: relative;
    border-radius: 1rem;
    width: 45%;
    margin: 1rem;
    @media (max-width: 980px){
        width: 100%;
        margin-block-end: 1rem;
    }
    
}
    
.carte_img{
    height: 12rem;
    object-fit: cover;   
    border-radius: 1rem 1rem 0 0 ;
    width: 100%;
}
.resto_caption{
    @include align_logo;
    justify-content: space-between;
    margin: 0.25rem 0.25rem;
    
    h3{
        font-weight: bold;
        font-size: 1.2rem;
    }
    p{
        margin: 0 0 .25rem;
        font-size: 1.2rem;
        font-weight: normal;
    }
    i{
        font-size: 2rem;
    }
}

///////////////////////////////////////////////////////////////////////////////////////// FOOTER
.footer{
    background-color: #353535;
    font-family: Roboto, sans-serif;
    color: $white;
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 2.5rem;

}

.footer_link{
    color: $white;
}
.footer_link:hover{
    
    text-decoration: underline;
    
} 
  
.footer_head{
    font-family: Shrikhand, sans-serif;
    
}
i{
    padding-right: 0.5rem;
}

/////////////////////////////////////////////////////////////////// PAGE RESTAURANT

.img_site{
    @media (max-width: 980px){
        height: 2.2rem;
    }
}
.arrow{
    position: absolute;
    left: 1rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 3rem;
    top: 50%;
    color: #000;
    @media (max-width: 980px){
        font-size: 1.2rem;
    }
}
.resto_background{
    object-fit: cover;
    width: 100%;
    @media (max-width: 980px){
        max-height: 32rem;
    }
    
}
.menu_container{
    width: 100%;
    padding-top: 1rem;
}

.menu_price{
    width: fit-content;
    font-weight: bold;
}
.resto_menu{
    background-color: #F6F6F6;
    margin-top: -4rem; /*Fais monter le bloc au lieu de faire descendre*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem 2rem 0 0; /*Arrondir les angles du haut*/
    z-index: 1; /*Permet de faîre passer au 1er plan*/
    position: relative; /*Permet d'activer le z-index*/

    
}
.title_menu{
    font-family: Shrikhand, sans-serif;
    width: 100%;

    
}

@keyframes scrollbar{
    0%{ transform: scale(0);
        -ms-transform: scale(0);
        -webkit-transform: scale(0)}
    100%{transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1)
    }
}
.menu{
    @include mini-bloc;
    margin-bottom: 1rem;
    background-color: $white;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    display: flex;
    overflow: hidden;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    animation: scrollbar 0.8s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    
}

//Animation retard
.scroll-1{
    animation-delay: 0s;
    
}
.scroll-2{
    animation-delay: .1s;
}
.scroll-3{
    animation-delay: .2s;
}
.scroll-4{
    animation-delay: .1s;
}
.scroll-5{
    animation-delay: .4s;
}
.scroll-6{
    animation-delay: .5s;
}
.scroll-7{
    animation-delay: .6s;
}
.scroll-8{
    animation-delay: .7s;
}
.scroll-9{
    animation-delay: .8s;
}
.scroll-10{
    animation-delay: .9s;
}
.menu_section{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
h3.menu_section_title{
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: 1.2rem; 
    text-transform: uppercase;
    position: relative;
    padding-bottom: .5rem;

}
h3.menu_section_title::after{
    content: "";
    width: 3.3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu_section_header{
    
    display: flex;
    flex-direction: column;
    margin: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
    @media (max-width: 980px){
        width: 80%;
        
    }
    h4{
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    p{
        margin: 0;
        overflow: hidden; //Cache ce qui dépace du block
        text-overflow: ellipsis; //Mets des petits pts à ce qui dépasse
    }
}

.menu_head{
    @include star;
    width: 100%;
    font-size: 1.7rem;
    padding-top: 1rem;
    
}

.menu_choice{
    background-color: #99E2D0;
    margin: -1rem -4rem -1rem 1rem;
    height: 4.4rem;
    @media (max-width: 980px) {
        height: 4.35rem;
    }
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
    
}


.m_choice_icon{
    background-color: $white;
    border-radius: 100px;
    height: 1.6rem;
    width: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    i{
        color: #99E2D0;
        padding: 1rem;
        transform: rotate(180deg);
    }
}
.menu:active{
    background-color: #a2d1c5;
    
}
.menu:hover{
    
    .menu_choice{
        margin: 0rem 0rem 0rem 0.5rem;
        width: 5rem;
        
        
    }
    .m_choice_icon{
        transform: rotate(180deg);
        transition-duration: .5s;
        
    }
}