/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url(Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Shrikhand";
  src: url(Shrikhand-Regular.otf);
}
body {
  background: white;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: #ebebeb;
}
.localisation .localisation_txt {
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  margin: 0.8rem;
}

.exploration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #F2F2F2;
  padding: 2rem;
}
.exploration h2 {
  font-weight: bolder;
  font-size: 2rem;
}

.button {
  width: fit-content;
  padding: 0.5%;
  background-color: #F153CC;
  border-radius: 2rem;
}
.button p {
  color: #FFF;
  font-weight: bold;
}

.fonctionnement, .restaurant_bloc, .restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fonction_title, .resto_title {
  font-weight: bolder;
  font-size: larger;
  margin: 1rem;
  font-size: 2rem;
}

.fct_card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem;
}
@media (max-width: 980px) {
  .fct_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }
}

.fonction_choice {
  background: #F2F2F2;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 30%;
}
.fonction_choice .fct_logo {
  color: #7e7e7e;
}
@media (max-width: 980px) {
  .fonction_choice {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.restaurant_bloc {
  width: 100%;
  background: #F2F2F2;
  display: flex;
  padding: 1rem;
}

.carte_bloc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.carte {
  background: #F6F6F6;
  position: relative;
  border-radius: 1rem;
  width: 45%;
  margin: 1rem;
}
@media (max-width: 980px) {
  .carte {
    width: 100%;
    margin-block-end: 1rem;
  }
}

.carte_img {
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

.resto_caption h3 {
  font-weight: bold;
  font-size: 1.2rem;
}
.resto_caption p {
  margin: 0 0 0.25rem;
  font-size: 1.2rem;
}

.footer {
  background-color: #353535;
  font-family: Roboto, sans-serif;
  color: #FFF;
  padding: 1rem;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.footer_head {
  font-family: Shrikhand, sans-serif;
}

i {
  padding-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
