@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url(Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Shrikhand";
  src: url(Shrikhand-Regular.otf);
}
@keyframes load_page {
  0% {
    background-color: blue;
  }
  100% {
    display: none;
  }
}
body {
  background: white;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: #ebebeb;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}
.localisation .localisation_txt {
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  margin: 0.8rem;
}

a {
  color: black;
  text-decoration: none;
}

@keyframes load_page {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    position: absolute;
  }
}
.anime_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #F6F6F6;
  animation: load_page ease 4s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
}
.anime_page p {
  font-family: Shrikhand, sans-serif;
}

.anime_logo1 {
  width: 100%;
  font-size: 3rem;
}

.anime_element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes refresh-turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
i.fas.fa-sync {
  color: #7e7e7e;
  opacity: 0.6;
  font-size: 3rem;
  border-radius: 100px;
  animation: refresh-turn 1s linear infinite;
}

.exploration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #F2F2F2;
  padding: 2rem;
}
.exploration h2 {
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
}

.button, .button2 {
  width: fit-content;
  padding: 0.5%;
  background-color: #F153CC;
  border-radius: 2rem;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.button p, .button2 p {
  color: #FFF;
  font-weight: bold;
}

.fonctionnement, .restaurant_bloc, .restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

@media (max-width: 980px) {
  .fonctionnement {
    padding: 1rem;
  }
}

.fonction_title, .resto_title {
  font-weight: bolder;
  font-size: larger;
  font-size: 2rem;
  margin: 1rem;
}
@media (max-width: 980px) {
  .fonction_title, .resto_title {
    margin: 0;
    align-self: flex-start;
  }
}

.fct_card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem;
}
@media (max-width: 980px) {
  .fct_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
}

.fonction_choice {
  background: #F2F2F2;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 30%;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}
.fonction_choice .fct_logo {
  color: #7e7e7e;
}
@media (max-width: 980px) {
  .fonction_choice {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.restaurant_bloc {
  width: 100%;
  background: #F2F2F2;
  display: flex;
  padding: 1rem;
}

.carte_bloc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.carte {
  background: #F6F6F6;
  position: relative;
  border-radius: 1rem;
  width: 45%;
  margin: 1rem;
}
@media (max-width: 980px) {
  .carte {
    width: 100%;
    margin-block-end: 1rem;
  }
}

.carte_img {
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

.resto_caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.25rem 0.25rem;
}
.resto_caption h3 {
  font-weight: bold;
  font-size: 1.2rem;
}
.resto_caption p {
  margin: 0 0 0.25rem;
  font-size: 1.2rem;
  font-weight: normal;
}
.resto_caption i {
  font-size: 2rem;
}

.footer {
  background-color: #353535;
  font-family: Roboto, sans-serif;
  color: #FFF;
  padding: 1rem;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.footer_head {
  font-family: Shrikhand, sans-serif;
}

i {
  padding-right: 0.5rem;
}

@media (max-width: 980px) {
  .img_site {
    height: 2.2rem;
  }
}

.arrow {
  position: absolute;
  left: 1rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 3rem;
  top: 50%;
  color: #000;
}
@media (max-width: 980px) {
  .arrow {
    font-size: 1.2rem;
  }
}

.resto_background {
  object-fit: cover;
  width: 100%;
}
@media (max-width: 980px) {
  .resto_background {
    max-height: 32rem;
  }
}

.menu_container {
  width: 100%;
  padding-top: 1rem;
}

.menu_price {
  width: fit-content;
  font-weight: bold;
}

.resto_menu {
  background-color: #F6F6F6;
  margin-top: -4rem;
  /*Fais monter le bloc au lieu de faire descendre*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 2rem 2rem 0 0;
  /*Arrondir les angles du haut*/
  z-index: 1;
  /*Permet de faîre passer au 1er plan*/
  position: relative;
  /*Permet d'activer le z-index*/
}

.title_menu {
  font-family: Shrikhand, sans-serif;
  width: 100%;
}

@keyframes scrollbar {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.menu {
  background: #F2F2F2;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  background-color: #FFF;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
  flex-direction: row;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  animation: scrollbar 0.8s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}

.scroll-1 {
  animation-delay: 0s;
}

.scroll-2 {
  animation-delay: 0.1s;
}

.scroll-3 {
  animation-delay: 0.2s;
}

.scroll-4 {
  animation-delay: 0.1s;
}

.scroll-5 {
  animation-delay: 0.4s;
}

.scroll-6 {
  animation-delay: 0.5s;
}

.scroll-7 {
  animation-delay: 0.6s;
}

.scroll-8 {
  animation-delay: 0.7s;
}

.scroll-9 {
  animation-delay: 0.8s;
}

.scroll-10 {
  animation-delay: 0.9s;
}

.menu_section {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

h3.menu_section_title {
  margin-bottom: 1rem;
  font-weight: 200;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
}

h3.menu_section_title::after {
  content: "";
  width: 3.3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu_section_header {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
}
@media (max-width: 980px) {
  .menu_section_header {
    width: 80%;
  }
}
.menu_section_header h4 {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_section_header p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.7rem;
  padding-top: 1rem;
}

.menu_choice {
  background-color: #99E2D0;
  margin: -1rem -4rem -1rem 1rem;
  height: 4.4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.m_choice_icon {
  background-color: #FFF;
  border-radius: 100px;
  height: 1.6rem;
  width: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.m_choice_icon i {
  color: #99E2D0;
  padding: 1rem;
  transform: rotate(180deg);
}

.menu:hover .menu_choice {
  margin: 0rem 0rem 0rem 0.5rem;
  width: 5rem;
}
.menu:hover .m_choice_icon {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

/*# sourceMappingURL=style.css.map */
